<!DOCTYPE html>
<html>

<head>
	<title>
		API
	</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<h1>
		Node info:
	</h1>
	<p>
		<pre>
			<%= JSON.stringify(info, null, 2) %>
		</pre>
	</p>
</body>

</html>
